html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.login-box {
    height: 100%;
    background-image: url('https://hongzh.oss-cn-hangzhou.aliyuncs.com/test/login-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login-box > .content {
    width: 300px;
    margin: 0 auto;
    padding-top: 10%;
}

.login-box > .content > .form-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 38px;
    color: #FFF;
    margin-bottom: 20px;
}

.img-box {
    text-align: center;
}

.img-box > img {
    width: 80px;
}
.token-input {
    width: 60%;
}