<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>CLI 后台管理平台</title>
    <link rel="icon" href="https://jkhee.oss-cn-shenzhen.aliyuncs.com/system/icon/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/js/libs/iview/styles/iview.css}">
    <link rel="stylesheet" th:href="@{/static/style/main.css}">
    <script th:src="@{/webjars/axios/axios.min.js}"></script>
    <script th:src="@{/static/js/libs/vue/vue.min.js}"></script>
    <script th:src="@{/static/js/libs/iview/iview.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <script th:inline="javascript">
        var path = /*[[@{/}]]*/ '';
    </script>
</head>
</html>