<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="header :: head"></head>
<link rel="stylesheet" th:href="@{/static/style/modules/index.css}"/>
<body>
    <div id="cli" v-cloak>
        <div class="layout">
            <Layout :style="{height: '100vh'}">
                <Sider hide-trigger :style="{background: '#001529'}">
                    <div class="layout-logo">CLI 管理平台</div>
                    <i-menu ref="myMenu" accordion :active-name="this.control.currentUrl" :open-names="control.openName" theme="black" width="auto" @on-select="goHref" @on-open-change="getSubmenu">
                        <Submenu name="系统管理|icon-system|/page/user">
                            <template slot="title">
                                <i class="iconfont icon-system"></i> 系统管理
                            </template>
                            <menu-item name="用户管理|icon-yonghu|/page/user"><i class="iconfont icon-yonghu"></i> 用户管理</menu-item>
                            <menu-item name="角色管理|icon-guanliyuan|/page/role"><i class="iconfont icon-guanliyuan"></i> 角色管理</menu-item>
                            <menu-item name="权限管理|icon-quanxian|/page/auth"><i class="iconfont icon-quanxian"></i> 权限管理</menu-item>
                            <menu-item name="文案管理|icon-31|/page/doc"><i class="iconfont icon-31"></i> 文案管理</menu-item>
                            <menu-item name="系统配置|icon-peizhi|/page/setting"><i class="iconfont icon-peizhi"></i> 系统配置</menu-item>
                        </Submenu>
                    </i-menu>
                </Sider>
                <Layout>
                    <Header>
                        <i-menu mode="horizontal" theme="light" active-name="1" accordion>
                            <breadcrumb :style="{marginLeft: '20px', width: '50%', display: 'inline-block'}">
                                <breadcrumb-item v-for="item in control.breadcrumbList"><i :class="`iconfont ${item.icon}`"></i> {{item.name}}</breadcrumb-item>
                            </breadcrumb>
                            <Dropdown trigger="click" class="layout-top-menu" :style="{marginRight: '20px'}">
                                <a href="javascript:void(0)">
                                    <span>hongzh（123123）<Icon type="md-arrow-dropdown" /></span>
                                    <img src="https://chacha-station.oss-cn-shenzhen.aliyuncs.com/system/image/head_img.png" class="avatar"/>
                                </a>
                                <dropdown-menu slot="list">
                                    <dropdown-item name="updatePwd"><i class="ivu-icon ivu-icon-locked"></i> </dropdown-item>
                                    <dropdown-item name="changeLanguage"><i class="ivu-icon ivu-icon-earth"></i> </dropdown-item>
                                    <dropdown-item divided name="logout"><i class="ivu-icon ivu-icon-log-out"></i> </dropdown-item>
                                </dropdown-menu>
                            </Dropdown>
                            <div class="layout-top-menu">
                                <div v-show="!control.isFullScreen" @click="fullScreen">
                                    <Icon type="md-expand" />
                                </div>
                                <div v-show="control.isFullScreen" @click="exitFullScreen">
                                    <Icon type="md-contract" />
                                </div>
                            </div>
                        </i-menu>
                    </Header>
                    <div class="tag-box">
                        <div class="tag-box-list-left-btn" @click="tagScrollLeft">
                            <Icon type="ios-arrow-back" />
                        </div>
                        <div class="tag-box-list" id="tag-box-list">
                            <Tag type="dot" :closable="tag.closable" v-for="tag in control.navTagList" :name="tag.url" :color="tag.color" @click.native="goHref(tag.name + '|' + tag.icon + '|' + tag.url)">{{tag.name}}</Tag>
                        </div>
                        <div class="tag-box-list-right-btn">
                            <Icon type="ios-close-circle-outline" />
                        </div>
                        <div class="tag-box-list-right-btn" @click="tagScrollRight">
                            <Icon type="ios-arrow-forward" />
                        </div>
                    </div>
                    <Layout class="index-layout">
                        <Card :style="{height: '100%'}" dis-hover>
                            <iframe scrolling="yes" frameborder="0" style="width:100%;height: 100%;" v-show="frame.show" :src="frame.url" v-for="frame in control.frameList"></iframe>
                        </Card >
                    </Layout>
                </Layout>
            </Layout>
        </div>
    </div>
</body>
<script th:src="@{/static/js/modules/index.js}"></script>
</html>